.p-datatable-paginator-bottom, .p-datatable-paginator-top {
  --p-paginator-border-radius: 0px;
  --p-datatable-paginator-bottom-border-width: 0px;
  --p-datatable-paginator-top-border-color: var(--p-zinc-300);
}

.light .p-datatable-paginator-bottom, .p-datatable-paginator-top > .p-paginator {
  --p-paginator-background: var(--p-zinc-100);
}

.light .p-datatable-header-cell {
  --p-datatable-header-cell-border-color: var(--p-zinc-300);
}

.p-datatable {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.light .p-datatable-header-cell {
  --p-datatable-header-cell-background:  var(--p-zinc-100);
}

.p-datatable-table-container {
  height: 100%;
  @apply bg-white dark:bg-neutral-800;
}

.p-datatable-empty-message {
  display: grid;
}