.p-chip-remove-icon {
  --p-chip-remove-icon-color: white;
}

.dark .p-multiselect-chip {
  --p-chip-background: #ad3636ff;
}

.p-datatable-paginator-bottom, .p-datatable-paginator-top {
  --p-paginator-border-radius: 0px;
  --p-datatable-paginator-bottom-border-width: 0px;
}

.light .p-datatable-paginator-bottom, .light .p-datatable-paginator-top > .p-paginator {
  --p-paginator-background: var(--p-zinc-100);
}
.light .p-datatable-paginator-top {
  border-bottom: 1px solid var(--p-zinc-300);
}
.light .p-datatable-paginator-bottom {
  border-top: 1px solid var(--p-zinc-300);
}

.light .p-datatable-header-cell {
  --p-datatable-header-cell-border-color: var(--p-zinc-300);
}

.p-datatable {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.light .p-datatable-header-cell {
  --p-datatable-header-cell-background:  var(--p-zinc-100);
}

.p-datatable-table-container {
  @apply bg-white dark:bg-neutral-800;
}

.p-datatable tbody tr td[data-pc-section="emptymessagecell"] {
  text-align: center !important;
}

.p-paginator-page:hover {
  color: white;
}

.light .p-fileupload-choose-button {
  --p-button-primary-background: var(--p-sky-600);
  --p-button-primary-border-color: var(--p-sky-600);
}

.dark .p-fileupload-choose-button {
  --p-button-primary-background: var(--p-sky-700);
  --p-button-primary-border-color: var(--p-sky-700);
}

.light .p-fileupload-choose-button:hover, .dark .p-fileupload-choose-button:hover {
  --p-button-primary-hover-background: var(--p-sky-500);
  --p-button-primary-hover-border-color: var(--p-sky-500);
}

.light .p-fileupload-upload-button {
  --p-button-secondary-background: var(--p-green-600);
  --p-button-secondary-border-color: var(--p-green-600);
  color: white;
}

.dark .p-fileupload-upload-button {
  --p-button-secondary-background: var(--p-green-700);
  --p-button-secondary-border-color: var(--p-green-700);
}

.light .p-fileupload-upload-button:hover, .dark .p-fileupload-upload-button:hover {
  --p-button-secondary-hover-background: var(--p-green-500);
  --p-button-secondary-hover-border-color: var(--p-green-500);
}

.light .p-fileupload-cancel-button {
  --p-button-secondary-background: var(--p-red-600);
  --p-button-secondary-border-color: var(--p-red-600);
  color: white;
}

.dark .p-fileupload-cancel-button {
  --p-button-secondary-background: var(--p-red-700);
  --p-button-secondary-border-color: var(--p-red-700);
}

.light .p-fileupload-cancel-button:hover, .dark .p-fileupload-cancel-button:hover {
  --p-button-secondary-hover-background: var(--p-red-500);
  --p-button-secondary-hover-border-color: var(--p-red-500);
}